@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    box-sizing: border-box;
}

body{
    background-image: url('./pic.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}
h2{
    font-size: 4rem;
}
.container{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}
p{
    margin: 0rem;
    font-weight: 400;
}
.time{
    margin: 0rem 2rem;
}
h1{
    font-size: 3rem;
    text-align: center;
}